html {
  font-size: 16px;
}

.mobile {
  display: none;
}

header {
  height: 4rem;
  padding: 0 1.5rem;
}

.navigation {
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
}

.desktop-nav ul{
  flex-direction: row;
}
