@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Oswald:300,400,700');

html {
  font-size: 16px;
}

.flex {
  display: flex;
  align-items: center;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {

  .mobile {
    display: block;
  }

  .hidden {
    display: none;
  }

}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

p, h6, .info-container a, footer ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
}

h6 {
  font-weight: 600;
  font-size: 0.8rem;
  opacity: 0.6;
}

.left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

@media only screen and (max-width: 640px) {

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1rem;
  }

  p, h6, .info-container a, footer ul li {
    font-size: 0.8rem;
  }

}

/*--------------------------- Header --------------------------*/

header {
  height: 4rem;
  padding: 0 1.5rem;
}

.navigation {
  justify-content: space-between;
}

.desktop-nav ul {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9rem;
  flex-direction: row;
}

.desktop-nav ul li {
  margin-left: 1rem;
}

.desktop-nav ul li a {
  text-decoration: none;
  color: #000;
  transition: color 0.1s ease-in-out;
}

.desktop-nav ul li a:hover {
  color: #8244fc;
}

.logo h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  color: #8244fc;
}

.logo h1 span {
  font-weight: bold;
  color: #000;
}

/*--------------------------- Hero Section ----------------------*/

.hero {
  background: #f2f8ff;
}

@media only screen and (max-width: 480px) {

  .hero {
    flex-direction: column;
  }

}

.hero h3 {
  margin: 1.5rem 0;
}

.container img {
  width: 100%;
}

.hero a {
  color: #fff;
  width: 80%;
  background: #8244fc;
  text-align: center;
  padding: 0.5rem 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-decoration: none;
}

.hero .right {
  padding-right: 1rem;
}

/*-------------------------- Articles Section ----------------------*/

.articles h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.articles .left p {
  margin-bottom: 1.5rem;
}

.articles .container {
  height: 100%;
}

.side-article {
  flex-direction: row;
  padding: 1rem;
  border: 1px solid #eee;
}

.articles .right p {
  margin: 1.5rem 0;
}

.side-article .info-container p {
  margin: 0.5rem 0;
}

.info-container {
  width: 65%;
  height: auto;
  padding-left: 1rem;
}

.info-container a {
  text-decoration: none;
  color: #8244fc;
  font-weight: 600;
  font-size: 0.8rem;
}

.img-container {
  width: 35%;
  height: auto;
}

.img-container img {
  width: 100%;
}

.selected-article {
  background: #f2f8ff;
}

.articles.flex {
  align-items: flex-start;
}

.side-article-list {
  margin-top: 2rem;
}

/*-------------------------- Courses Section -----------------------*/

.courses {
  background: #f2f8ff;
  padding: 2rem 4.5rem;
}

.courses h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.course-container {
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
}

.course-item {
  background: white;
  width: 19rem;
  height: 20rem;
  margin: 0 1rem 1rem;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.02);
}

.course-item h4 {
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  opacity: 0.6;
  font-size: 0.8rem;
}

.course-item img {
  height: auto;
  width: 100%;
}

.course-info {
  padding: 1rem;
  margin: 0;
}

/*-------------------------- Thesis Section ------------------------*/

.thesis-items {
  align-items: flex-start;
}

.thesis {
  padding: 2rem 0;
}

.thesis h2 {
  text-align: center;
}

video {
  width: 100%;
  height: auto;
}

.thesis h3 {
  margin: 1.5rem 0 0.5rem;
}

.thesis-right {
  margin-top: 2rem;
}

/*-------------------------- Footer Section ------------------------*/

footer {
  border-top: 1px solid #eee;
  padding: 1rem 1.5rem 3rem;
}

footer.flex {
  justify-content: space-between;
}

footer ul li:last-child {
  margin-left: 0.5rem;
}
